/*size for phones and another devices*/
body {
	background-color: #bbb;
	padding: 0;
	margin: 0;
}

#pancake{

    position: relative;
    margin: 0 auto;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(241, 241, 114);
    
}
header {
	background-color: rgb(80, 35, 56);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trade Winds' ;
    color: honeydew;
	
}
h2 {
    text-align: center;
    font-size: x-large;
    font-family: 'Trade Winds' ;
   
}
p {
font-family: 'Trade Winds';
color: rgb(54, 10, 10);
}


    footer div{

        text-align: center;
        padding: 10px;
        background-color: rgb(80, 35, 56);
        font-family: 'Trade Winds' ;
        color: honeydew;
        

        }
.people img[data-src] {
    filter: blur(0.2em);
  }
  
.people img {
    filter: blur(0em);
    transition: filter 3s;
    padding: 5px;
}

/*here is the code for nav bar */
nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #000;
   
}
.navigation {
    list-style: block;
    padding: 0;
    margin: 0;
    
    
}
.navigation li:first-child {
    display: block;
    
}
.navigation li {
    display: none;
    
}
.navigation a {
    display: block;
    color:rgb(65, 206, 119);
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
} 


main {
    width: 1000px;
    margin: auto;
    background-color: rgb(199, 107, 107);
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
    
}

#small {

    width: 300px;
    margin: auto;
}

#medium {

    width: 700px;
    margin: auto;
}

h3 {
    text-align: center;
}

footer {
    max-width: 900px;
    margin: 0 auto;
}

